//partners
.partner_block
  min-width 1200px
  height 400px
  text-align center
  color #ffffff
  background url("../img/bg_header.jpg") no-repeat center
  background-size cover
  display flex
  flex-direction column
  align-items center
  justify-content: center

  .partner_header
    font-size 40px
  .partner_text
    font-size 16px
    margin 40px 0

//work with partners
.work_scheme
  width 1200px
  margin 0 auto
  .schemes_wr
    display flex
    justify-content space-between
  .block_header
    padding 70px 0 40px 0
    font-size 30px
    color #333333
    text-align center
  .scheme_agent
    position relative
    width 580px
    height 1400px
    box-shadow 0px 10px 20px 0px rgba(0, 0, 0, 0.08);
    padding 30px 30px 50px
    margin-bottom 70px
    .btn_agent_and_diler
      width 390px
      height 60px
      position absolute
      bottom 50px
      margin-left 60px
      line-height 60px
    .block_content
      text-align center
      .block_text
        font-size 20px
        color rgb(103, 119, 189)
        line-height 2
        text-align center
        padding 30px 0
    .agent_and_diler_price
      background-color #f2f2f2
      margin-left -30px
      margin-right -30px
      height 80px
      .price
        font-size 16px
        text-align center
        color #333333
        line-height 80px
        font-weight: bold
  .instruction
    .number_item
      display block
      padding 0 0 0 60px
      margin 30px 0 0 0
      position relative
      line-height 1.7
      &:before
        content ''
        display block
        position absolute
        top 0
        left 0
        width 30px
        height 30px
        border-radius 100%
        border 1px solid #6777bd
        text-align center
        line-height 30px
        color #6777bd
        font-size 16px
      &.item_1:before
        content '1'
      &.item_2:before
        content '2'
      &.item_3:before
        content '3'
      &.item_4:before
        content '4'
      &.item_5:before
        content '5'

      .instructions_item
        font-size 16px
        padding 50px 30px 0 30px

  .header_pluse
    font-size 16px
    text-align left
    color #333333
    line-height 80px
    font-weight: bold

  .recommend
    font-size 16px
    color #333333
    line-height 1.875
    text-align left

  .agent_and_diler_pluse
    .pluse_item
      display block
      padding 0 0 0 60px
      margin 30px 0 0 0
      position relative
      line-height 1.7
      &:before
        content ''
        display block
        position absolute
        top 0
        left 0
        width 30px
        height 30px
        line-height 30px
        color #6777bd
        font-size 16px
      &.item_1:before
        content ''
        background: url("../img/check_mark.png") no-repeat
      &.item_2:before
        content ''
        background: url("../img/check_mark.png") no-repeat
      &.item_3:before
        content ''
        background: url("../img/check_mark.png") no-repeat

.advantages
  padding 60px 0 40px 0
  background #f2f2f2
  min-width 1200px
  .advantages_block
    width 100%
    max-width 1240px
    padding 0 20px
    margin 0 auto
    .advantages_header
      text-align center
      font-size 30px
    .list_advantages
      text-align center
      padding 0
      margin 50px 0
      .list_item
        padding 0 10px
        width 33%
        list-style-type none
        display inline-block
        .item_note
          background: url("../img/circle_note.png") no-repeat center
        .item_consalt
          background: url("../img/circle_consalt.png") no-repeat center
        .item_rise
          background: url("../img/circle_rise.png") no-repeat center
        .circle_image
          border-radius 50%
          background-color rgb(255, 255, 255)
          box-shadow 0px 8px 10px 0px rgba(0, 0, 0, 0.08)
          width 120px
          height 120px
          margin 0 auto

        .advantages_text
          font-size 20px
          font-weight bold
          color #6777bd
          line-height 1.5
          text-align center
          margin-top 25px
          display block
        .advantages_content
          margin 30px 0
          font-size 16x
          color #333333
          line-height 1.875
          text-align center
          display block

.question_block
  min-width 1200px
  height 400px
  text-align center
  color #ffffff
  background url("../img/bg_footer.jpg") no-repeat center
  background-size cover
  display flex
  flex-direction column
  align-items center
  justify-content: center
  .question_header
    font-size 30px

  .number_phone
    display flex
    flex-direction row
    margin-top 15px
    .phone_icon
      width 20px
      height 33px
      margin 10px 30px 0 0
      display inline-block
      background: url("../img/phone_icon.png") no-repeat center
    .number_header
      font-size 40px

  .call_free
    font-size 12px

.bonus_program_block
  min-width 1200px
  display flex
  flex-direction column
  align-items center
  justify-content: center
  font-size 16px
  color #ffffff
  padding 75px 110px
  background #809cc6
  .bonus_program_block_header
    font-size 30px
  .bonus_program_block_text
    text-align center
    margin-top 55px
    line-height 1.875
  .bonus_program_block_switcher
    display flex
    flex-direction row
    margin-top 50px
    .bonus_program_block_switcher_agent
      width 130px
      height 25px
      text-align center
      font-size 16px
      color #333333
      background #ffce0c
      border-radius 3px

    .bonus_program_block_switcher_diler
      text-align center
      width 130px
      height 25px
      color #ffffff
  .bonus_program_block_switcher_content
    display flex
    flex-direction row
    align-items center
    margin 50px 0 70px 0
    .bonus_program_block_switcher_left
      width 570px
      height 230px
      border-collapse collapse
      .bonus_program_block_switcher_left_header
        background #7089ae
        text-align left
        td
          padding-left 30px
          line-height 2.125
      .bonus_program_block_switcher_left_sw
        td
          padding-left 30px
          border-bottom 1px solid #7089ae
        .right_bold
          font-weight bold
        .ob
          border-bottom none
          line-height 1.875
          padding-left 0
    .left
      margin-right 20px
    .right
        margin-left 20px
.income_block
  min-width 1200px
  display flex
  flex-direction column
  align-items center
  justify-content: center
  background #ffffff
  padding 75px 0 65px
  width 1200px
  margin 0 auto
  .income_block_header
    font-size 30px
  .income_block_text
    font-size 16px
    margin-top 50px
  .bonus_program_block_switcher
    display flex
    flex-direction row
    margin-top 50px
    .bonus_program_block_switcher_agent
      width 130px
      height 25px
      text-align center
      font-size 16px
      color #333333
      background #ffce0c
      border-radius 3px
    .bonus_program_block_switcher_diler
      text-align center
      width 130px
      height 25px
      color #333333
  .income_block_calculate
    display flex
    flex-direction row
    margin-top 50px
    .income_block_calculate_header
      font-size 16px
      color #858585
      margin-bottom 30px
    #rangeValue
      margin -10px 0 -10px 0
      font-size 30px
      font-weight 600
      color #6777bd
    #rangeValueTwo
      margin -10px 0 -10px 0
      font-size 30px
      font-weight 600
      color #6777bd
    .program_type
      padding-right 90px
      .income_block_calculate_btn
        width 320px
        height 45px
        text-align left
        margin 0
        padding-left 20px
    .license_amount
      padding-right 90px



.calculate_result_block
  min-width 1200px
  display flex
  flex-direction column
  align-items center
  justify-content center
  background #f2f2f2
  padding 90px 0 75px 0
  .calculate_result_block_header
    display flex
    flex-direction row
    align-items center
    justify-content center
    .calculate_result_block_text
      font-size 16px
      color rgb(51, 51, 51)
    #rangeResult
      font-size 48px
      font-weight 600
      color rgb(51, 51, 51)
      padding 0 20px 0 25px
  .calculate_result_block_content
      font-size 14px
      color rgb(153, 153, 153)
      line-height 2.143
      text-align center
      margin 20px 0 50px 0


.main_footer
  display flex
  flex-direction row
  min-width 1200px
  font-size 14px
  color #ffffff
  background #1a242f
  padding 40px 100px
  margin 0 auto
  .contacts_block
    display inline-block
    vertical-align top
    width 43.2%
    min-width 295px
    .contacts_block_logo
      margin-bottom 25px
      a
        font-size 30px
        color #ffffff
    .contacts_block_content
      display block
      line-height 2.143
      margin-bottom 35px
      .contacts_block_content_left
        display inline-block
        vertical-align top
        min-width 80px
      .contacts_block_content_right
        display inline-block
        vertical-align top
      .contacts_block_content_right_email
        font-size 14px
        color #6777bd
      .contacts_block_content_right_skype
        font-size 14px
        color #6777bd
      a
        color #6777bd
        text-decoration none
        &:hover
          color #fff

    .indent
      margin-bottom 50px

  .footer_menu_block
    display inline-block
    vertical-align top
    width 14.2%
    min-width 108px
    margin-top 5px
    .footer_menu_block_header
      font-size 18px
    .footer_menu_block_item
      font-size 14px
      color #6777bd
      margin-top 30px
      padding 0
      font-weight 300
      a
        color #6777bd
        text-decoration none
        &:hover
          color #fff

    .indent_item
      margin-top 40px
    .footer_languages
      display flex
      flex-direction row
      .ru_icon
        width 20px
        height 14px
        margin 4px 20px 0 0
        background url("../img/ru_icon.png") no-repeat
      .en_icon
        width 20px
        height 14px
        margin 4px 20px 0 0
        background url("../img/en_icon.png") no-repeat

.irs-single
  display none!important

.irs-max
  display none!important

.irs-min
  display none!important




